{
  "presets": ["next/babel"],
  "plugins": [
    ["graphql-tag"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@utils": "./utils",
          "@state": "./state",
          "@services": "./services",
          "@components": "./components",
          "@hooks": "./hooks"
        }
      },
      "@babel/plugin-proposal-optional-chaining"
    ]
  ]
}
