BASE_URL="https://sicap.ai"
ES_URL="https://elastic:password@localhost:9200"
#
DATABASE_URL=http://127.0.0.1:8080
DATABASE_AUTH_TOKEN=secret
#
ES_INDEX_SEARCH=cautari
NEXT_PUBLIC_ES_INDEX_PUBLIC=licitatii-publice
NEXT_PUBLIC_ES_INDEX_DIRECT=achizitii-directe
NEXT_PUBLIC_ES_INDEX_OFFLINE=achizitii-offline
ES_API_KEY=secret
# 
GOOGLE_ID=google_id
GOOGLE_SECRET=secret
NEXTAUTH_SECRET=secret
NEXTAUTH_URL="http://localhost:3000"
#
OG_SECRET=secret
#
LISTMONK_API_KEY=secret
LISTMONK_API_URL=https://test.com
LISTMONK_FROM_EMAIL=email@test.com
#
NEXT_PUBLIC_PLAUSIBLE_URL=https://test.com
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=test
NEXT_PUBLIC_POSTHOG_API_KEY=test
NEXT_PUBLIC_POSTHOG_API_HOST=https://test.com
NEXT_PUBLIC_POSTHOG_UI_HOST=https://test.com
NEXT_PUBLIC_FORMBRICKS_API_HOST=https://test.com
NEXT_PUBLIC_FORMBRICKS_ENV_ID=test
NEXT_PUBLIC_CLOUDFLARE_HOST=https://test.com
NEXT_PUBLIC_CLOUDFLARE_TOKEN=test
#
NEXT_PUBLIC_OPENSTATUS_RUM_DSN=https://test.com
#
NEXT_PUBLIC_TELEMETRY_DISABLED=true
